<div class="navbar navbar-default navbar-tt navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-reorder"></i>          </button>
            <a class="navbar-brand">
                <img alt="Brand" src="http://torrezracing.com/images/samplehd.png" width="172" height="80"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <div>
                <ul class="nav navbar-nav nav-tt navbar-right navbar-uppr">
                    <li class="active">
                        <a href="#"><i class="fa fa-2x fa-facebook-official fa-fw text-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-2x fa-fw fa-linkedin-square text-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-2x fa-fw fa-google-plus-square text-white"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-2x fa-fw fa-youtube text-white"></i></a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav nav-tt navbar-right navbar-lwr">
                <li class="active">
                    <a RouterLink="/home">Home</a>
                </li>
                <li>
                    <a RouterLink="/">Our Story</a>
                </li>
                <li>
                    <a RouterLink="/">More</a>
                </li>
                <li>
                    <a RouterLink="/">Gallery</a>
                </li>

                <li>
                    <a RouterLink="/">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
